// breakpoints

$breakpoints: (mobile: rem(575),
    tablet: rem(924),
    desktop: rem(1444),
);

@mixin breakpointUp($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media screen and (min-width: $breakpoint-value) {
        @content;
    }
}

@mixin breakpointDown($size) {
    $breakpoint-value: map-get($breakpoints, $size);

    @media screen and (max-width: $breakpoint-value) {
        @content;
    }
}